/* .btn-container {
  text-align: center;
}

.btn-group{
    padding-top: 70px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;

}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 20px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.image img{
  display: block;
  height: 300px;
  width: 70%;
  border-radius: 15px;
  margin: 0 auto; 
  border-style: solid;
}

.image figcaption{
  text-align: center;
  font-size: larger;
}

.image img:hover{
  opacity: 0.7;
  filter: alpha(opacity=30);
  transform: scale(1.05);
} */

.card img:hover{
  transform: scale(1.1);
  transition: all ease 300ms;
}
.card img{
  height: 270px;
  width: 220px;
  border-radius: 15px;
  border-style: solid;
}

.cursor-p{
  cursor: pointer;
}

.jumbotron{
  background-image: url('https://2.bp.blogspot.com/-cOBK_vbMmrc/WGssjo23_eI/AAAAAAAAShY/MA0QP0wTL10Z1-cxNrR7FjIK1IhfllmZwCLcB/s1600/No%2BMan%2527s%2BSky%2BWallpapers%2B1.jpg');
  padding: 7rem 2rem;
}

.card-title {
  margin-bottom: .75rem;
  text-align: center;
}

.display-3 {
  text-align: center;
}

.text-danger{
  text-align: end;
}

.btn-container {
  text-align: center;
}

