*{
    font-family: 'Ubuntu', sans-serif;

}


.header, .list {
    display: flex;
    flex-direction :space-around;
}

.list img{
    padding-left: 60px;
    padding-top: 10px;
}
/* .list .list-item{
    padding: 15px;
    text-align: center;
    width: 100px;
    position: relative;
}

.list .anime{
    background-color: red;
    border-radius: 10px;
}

.list .news{
    background-color: orange;
    border-radius: 10px;
}

.list .rank{
    background-color: blue;
    border-radius: 10px;
} */

a{
    text-decoration: none;
    color: white;
}

.list-item:hover{
 
    transform: scale(1.2);
}

.slogan {
    padding-left: 200px;
    padding-top: 10px;
}

.slogan h2{
    border-style: inset;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    padding-top: 5px;
}