body{
  font-family: Tahoma;
  font-size: 13px;
  width: 100%;
  margin: 0px auto;
}

#banner img {
  width: 100%;
}
#main{
  display: flex;
  padding: 0 50px;
}

#main #left{
  width: 70%;
 
}
#main #right{
  width: 25%;
  margin-left: 20px;
}

#main #left ul{
  margin: 0px;
  padding: 0px;
}
#main #left ul li{
  list-style: none;
  clear: left;
  float: left;
  margin-bottom: 20px;
  height: 100px;
  margin-top: 20px;
}
#main #left ul li img {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  height: 130%;
  width: 120px;
}

#main #left ul li h6 a{
 text-decoration: none;
 background-color:#4cb1ff;
 color: #fafbfc;
 padding: 2px 0px;
 font-size: 13px
}

#main #left ul li h4 a{
  text-decoration: none;
  color: black;
}
#main #left ul li p{
  color: #a99997;
}

#main{
  margin-top: 10px;
}
#main #left ul li h6{
  margin-top: 8px;
}
#right .menu_right ul{
  padding: 0px;
}
#right .menu_right ul li img{
  width: 50%;
  float: left;
  margin-top: 14px;
  margin-right: 10px;

}
#right .menu_right ul li{
  list-style: none;
}
#right .menu_right ul li h4 a{
  text-decoration: none;
  font-size: 15px;
  color: #333;
  font-weight: bold
}
#right .menu_right h3{
  background: #ff4d00;
  text-align: center;
  margin-top: 25px;

}
.navbar{
  font-size: 15px;
}

.Add {
  margin-top: 20px;
}

.Add button{
  padding: 1px 10px;
  background-color: #ff4d00;
  margin-left: 30%;
  color: #fafbfc;
  font-size:larger;
 
  
}