body {
    
    font-size: 13px;
    margin: 0px auto;
}

#main {
    display: flex;
    padding: 0 50px;
}

#left {
    width: 70%;
}

#left #page_header {
    margin-top: 50px;
    color: #358ab0;
}

#left p {
    font-size: 16px;
}

#left p #red {
    color: red;
}

#left img {
    display: block;
    margin: 0 auto;
}

#right {
    width: 30%;
    height: auto;
    margin-left: 10px;
    position: sticky;
    top: 0;
}

#right .menu_right ul {
    padding: 0px;
}

#right .menu_right ul li img {
    width: 50%;
    object-fit: cover;
    vertical-align: baseline;
    margin-right: 10px;
}

#right .menu_right ul li h4 {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#right .menu_right ul li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    height: 100px;
}

#right .menu_right ul li h4 a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    font-weight: bold
}

#right .menu_right h3 {
    background: #ff4d00;
    text-align: center;
    margin-top: 50px;
}

.navbar {
    font-size: 16px;
}

iframe {
    display: block;
    margin: 10px auto;
}